{% extends 'base.html' %}
{% block content %}
    <br>
    <h3>Products</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Vendor</th>
            <th scope="col">Product Type</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
            <tr>
                <th scope="row"><a href="/product/{{ product.id }}">{{ product.title }}</a></th>
                <td><a href="/product/{{ product.id }}">{{ product.vendor }}</a></td>
                <td><a href="/product/{{ product.id }}">{{ product.product_type }}</a></td>
                <td><a href="/product/{{ product.id }}">{{ product.variants.first.price }}</a></td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock %}