{% extends 'base.html' %}
{% block content %}
    <br>
    <h3>Order</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Total Price</th>
            <th scope="col">Financial Status</th>
            <th scope="col">Fulfillment Status</th>


        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ order.number }}</td>
            <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.financial_status }}</td>
            <td>{{ order.fulfillment_status }}</td>
        </tr>


        </tbody>
    </table>

        <h3>Order Items</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_items %}
                <tr>
                    <th scope="row">{{ item.variant }}</th>
                    <td>{{ item.price }}</td>

                </tr>
            {% endfor %}


            </tbody>
        </table>

{% endblock %}